.bg-dark
{
    background-color:aquamarine !important;
    
    border-bottom: 2px solid cornflowerblue;
    
    margin: 0%;
    
}

.navbar-brand img
{
margin: 0%;
height: 5vh;
width: 7vw;

}
.navbar-brand ,#rowid
{
    justify-content: flex-end;
    margin-left: -10pt !important;
}
.carousel-item img
{
  height: 80vh;
  width:  70vw;
}

.footer-sec
{
    background-color: bisque;
}

